<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<!--弹出层-->
<div id="insurance-add" style="display: none;">
    <form style="margin-right: 100px; margin-top: 10px" class="layui-form" action="">

        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">保险开始时间:</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="registrationTime">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">保险结束时间:</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="validityDate">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">保险费用(元):</label>
                        <div class="layui-input-block">
                            <input type="number" ng-model="commit.insuranceFee" required lay-verify="required"
                                   price-format number-max="99999999.99" number-min="0.01" onmousewheel="return false;"
                                   class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">保险返现金额(元):</label>
                        <div class="layui-input-block">
                            <input type="number" ng-model="commit.cashBackAmount" price-format number-max="99999999.99"
                                   number-min="0.01" onmousewheel="return false;"
                                   class="layui-input">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">保单上传:</label>
                        <div class="layui-input-block">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn" id="insurances">选择图片</button>
                                <div style="margin-top: 10px; width:700px;">
                                    <div class="layui-upload-list" id="ImgPreview"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="insurance-modify" style="display: none;">
    <form style="margin-right: 100px; margin-top: 10px" class="layui-form" action="">

        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">保险开始时间:</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="modifyRegistrationTime"
                                   ng-model="vo.startDate | date : 'yyyy-MM-dd'">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">保险结束时间:</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="modifyValidityDate"
                                   ng-model="vo.stopDate | date : 'yyyy-MM-dd'">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">保险费用(元):</label>
                        <div class="layui-input-block">
                            <input type="number" ng-model="vo.insuranceFee" required lay-verify="required"
                                   price-format number-max="99999999.99" number-min="0.01" onmousewheel="return false;"
                                   class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">保险返现金额(元):</label>
                        <div class="layui-input-block">
                            <input type="number" ng-model="vo.cashBackAmount" price-format number-max="99999999.99"
                                   number-min="0.01" onmousewheel="return false;"
                                   class="layui-input">
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">保单上传:</label>
                        <div class="layui-input-block">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn" id="modifyInsurance">选择图片</button>
                                <div style="margin-top: 10px; width:700px;">
                                    <div class="layui-upload-list" id="modifyImgPreview"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
