<!DOCTYPE html>
<html>

<body>
<link rel="stylesheet" href="/lib/layui/css/layui.css" media="all"/>
<link rel="stylesheet" href="/lib/layui/css/global.css" media="all"/>
<script src="/lib/layui/layui.all.js" charset="utf-8"></script>
<script src="/js/fuelCardManager/jquery-3.0.0.min.js"></script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular/angular-cookies.min.js"></script>
<script src="/lib/angular/tm.pagination.js"></script>
<!--弹出层-->
<div id="card-modify-fuelCard" style="display: none;">
    <form style="margin-right: 60px; margin-top: 10px" class="layui-form" action="">
        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">油卡商家:</label>
                        <div class="layui-input-block">
                            <select id="pop-modify-cardMerchant" class="user-select">
                                <option value="all" selected>请选择</option>
                                <option value="0">中石油</option>
                                <option value="1">中石化</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">油卡类型:</label>
                        <div class="layui-input-block">
                            <select id="pop-modify-cardType" class="user-select" onchange="selectCardTypeModify(this)">
                                <option value="all" selected>请选择</option>
                                <option value="0">加油卡主卡</option>
                                <option value="1">加油卡副卡</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">主卡卡号:</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="pop-modify-masterCardNumber" style="padding: 0"
                                   onfocus="masterCardChange()" onblur="masterCardBlur(this)" lay-verify="number">
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item" id="pop-modify-viceCardNumber_parent">
                        <label class="layui-form-label">副卡卡号:</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="pop-modify-viceCardNumber" style="padding: 0"
                                   onfocus="viceCardChange()" onblur="viceCardBlur(this)" lay-verify="number">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs12">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">查询密码:</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="pop-modify-password">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs12">
                <div class="grid-demo" style="color:red;margin-left:41%;font-size: 17px;margin-top:2px;"
                     id="popModifyErrorDiv">
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
