<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="tpl/header::head">
</head>
<body ng-app="scriptApp" ng-controller="violationCtrl">
<div class="layui-layout layui-layout-admin">
    <div th:replace="tpl/side::div"></div>
    <!--/*@thymesVar id="type" type="ch"*/-->
    <input type="hidden" id="type" th:value="${type}"/>
    <input type="hidden" id="type1" th:value="${name}"/>
    <input type="hidden" id="type2" th:value="${number}"/>
    <div class="layui-body layui-main">

        <div class="x-nav">
            <div class="tips-header">
                <a href="#">
                    <h2>违章记录</h2>
                </a>
                <div class="layui-collapse" lay-filter="test">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                            <span class="layui-breadcrumb" style="visibility: visible;">
                              <a href="/">首页</a><span lay-separator="">/</span>
                              <a href="#">车辆管理</a><span lay-separator="">/</span>
                              <a><cite>违章记录</cite></a>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <fieldset class="layui-elem-field">
            <div style="margin:auto 10%;">
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="grid-demo">
                            <div class="layui-form-item">
                                <label class="layui-form-label">所在城市:</label>
                                <div class="layui-input-block">
                                    <input type="text" name="city" ng-model="commit.city"
                                           class="layui-input" id="city">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="grid-demo">
                            <div class="layui-form-item">
                                <label class="layui-form-label">所属仓库:</label>
                                <div class="layui-input-block">
                                    <input type="text" name="warehouse" id="warehouse" ng-model="commit.warehouse"
                                           autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="grid-demo">
                            <div class="layui-form-item">
                                <label class="layui-form-label">违章人:</label>
                                <div class="layui-input-block">
                                    <input type="text" name="offender" id="offender" ng-model="commit.offender"
                                           autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="grid-demo">
                            <div class="layui-form-item">
                                <label class="layui-form-label">违章时间:</label>
                                <div class="layui-input-block">
                                    <div class="layui-input-inline" id="date-time-side">
                                        <input type="text" name="date" id="startDate" ng-model="showStart"
                                               autocomplete="off" class="layui-input"/>
                                    </div>
                                    <div class="date-time-center">-</div>
                                    <div class="layui-input-inline" id="date-time-side">
                                        <input type="text" name="date" id="endDate" ng-model="showEnd "
                                               autocomplete="off" class="layui-input"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="grid-demo">
                            <div class="layui-form-item">
                                <label class="layui-form-label">车牌号码:</label>
                                <div class="layui-input-block">
                                    <input type="text" name="carNumber" id="carNumber" ng-model="commit.carNumber"
                                           autocomplete="off"
                                           class="layui-input">
                                    <span style="background-color: #eb7350;width: 182px;position: fixed; z-index: 9999;"
                                          id="cityAuto">
                        <span id="span2" style="width: 0px;height: 0px"></span>
                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="grid-demo">
                            <div class="layui-form-item">
                                <label class="layui-form-label">处理状态</label>
                                <div class="layui-input-block">
                                    <select class="user-select" name="status" id="status" ng-model="violationStatus">
                                        <option value="">请选择</option>
                                        <option value="1">已处理</option>
                                        <option value="0">未处理</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-btn-group" style="margin-left: 40%; margin-top:2%;">
                    <button class="layui-btn" ng-click="queryByCondition()">查询</button>
                    <button class="layui-btn " ng-click="clearData()">清空</button>
                </div>
            </div>
            <fieldset class="layui-elem-field" style="margin-top: 20px;">
                <legend>违章记录列表</legend>
                <table class="layui-table custom-table" lay-even="" lay-skin="row">
                    <thead>
                    <tr>
                        <th width="4%">序号</th>
                        <th width="10%">车牌号</th>
                        <th width="10%">所在城市</th>
                        <th width="10%">所属仓库</th>
                        <th width="10%">违章事项</th>
                        <th width="10%">违章地点</th>
                        <th width="10%">处罚单位</th>
                        <th width="10%">罚款金额</th>
                        <th width="10%">扣分</th>
                        <th width="10%">违章人</th>
                        <th width="10%">违章时间</th>
                        <th width="5%">是否处理</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="violation in vm.violationList">
                        <td ng-bind="($index + 1)+((paginationConf.currentPage-1)*paginationConf.itemsPerPage)"></td>
                        <td ng-bind="violation.carNumber"></td>
                        <td ng-bind="violation.city"></td>
                        <td ng-bind="violation.warehouse"></td>
                        <td ng-bind="violation.violationInformation"></td>
                        <td ng-bind="violation.violationPlace"></td>
                        <td ng-bind="violation.processingUnit"></td>
                        <td ng-bind="violation.penalty"></td>
                        <td ng-bind="violation.deductMark"></td>
                        <td ng-bind="violation.offender"></td>
                        <td ng-bind="violation.violationTime | date:'yyyy-MM-dd'"></td>
                        <td ng-bind="violation.status===true? '已处理':'未处理'"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="page-right" style="padding-right: 5%;">
                    <tm-pagination conf="paginationConf"></tm-pagination>
                </div>
            </fieldset>
        </fieldset>
    </div>

    <script src="/modules/violation/violationCtrl.js"></script>

    <script>
        var start, end;

        //月份修正
        function doneTime(date) {
            return {
                year: date.year,
                month: date.month - 1,
                date: date.date
            }
        };
        var start = laydate.render({
            elem: '#startTime', //指定元素
            done: function (value, date) {
                //将结束日的初始值设定为开始日
                end.config.min = doneTime(date);
                end.config.value = doneTime(date);
            }
        });
        var end = laydate.render({
            elem: '#endTime', //指定元素
            done: function (value, date) {
                //结束日选好后，重置开始日的最大日期
                start.config.max = doneTime(date);
            }
        });

    </script>
</div>
</body>
</html>